<template id="story-manager-button-template">
  <div
    class="story-manager-note-btn mes_button fa-solid fa-thumbtack"
    title="Создать заметку"
  ></div>
</template>

<template id="story-manager-character-button-template">
  <div
    class="story-manager-char-btn mes_button fa-solid fa-user-plus"
    title="До 10 старых сообщений → карточка персонажа"
  ></div>
</template>

<template id="story-manager-location-button-template">
  <div
    class="story-manager-loc-btn mes_button fa-solid fa-map-location-dot"
    title="До 10 старых сообщений → карточка локации"
  ></div>
</template>

<template id="story-manager-summary-indicator-template">
  <div
    class="story-manager-summary-indicator mes_button fa-solid fa-book"
    title="до саммари осталось ? сообщений"
  ></div>
</template>
